/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'fofermedium';
  src: url('fofer-webfont.woff2') format('woff2'),
       url('fofer-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'miuscriptregular';
    src: url('miuscript-webfont.woff2') format('woff2'),
         url('miuscript-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 "Open Sans", Helvetica, Arial, sans-serif;
  color: #111;
  background-color: #fdfdfd;
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-top: 0;
  margin-bottom: 30px; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  text-align: center;
  line-height: 1.2em;
  font-weight: normal;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 30px;
  letter-spacing: 3px;
}

h2 {
  letter-spacing: 3px;
  font-size: 26px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 40px;
  }
}

h3 {
  color: rgba(0,0,0,0.5);
}

h4 {
  margin: 10px 0;
  font-size: 20px;
}

p {
  font-size: 17px;
  margin-top: 0;
  line-height: 25px;
}

p.last {
  margin-top: 0;
  margin-bottom: 0;
}

.center {
  text-align: center;
}

a.link {
  font-size: 15px;
  color: #C58B94;
  padding: 10px 20px;
  display: inline-block;
}

.wrapper {
    margin: 0 20px;
    position: relative;
  }

@media (min-width: 768px) {
  .wrapper {
    width: 780px;
    margin: 0 auto;
  }
}

.wrapper-large {
    margin: 0 20px;
    position: relative;
  }

@media (min-width: 1200px) {
  .wrapper-large {
    width: 1180px;
    margin: 0 auto;
  }
}

@media (min-width: 1400px) {
  .wrapper-large {
    width: 1380px;
    margin: 0 auto;
  }
}

@media (min-width: 1600px) {
  .wrapper-large {
    width: 1580px;
    margin: 0 auto;
  }
}

.site-header {
  height: 480px;
  background: url('header-bg.png') no-repeat center center;
  background-size: cover;
  text-align: center;
  overflow: hidden;
}

.site-title {
  color: #fff;
  display: block;
  text-decoration: none;
  margin-top: 100px;
}

.site-title .logo {
  display: block;
  font-family: 'miuscriptregular', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 70px;
  line-height: 120px;
  text-decoration: none;

  -webkit-font-smoothing: antialiased;
}

@media (min-width: 768px) {
  .site-header {
    height: 640px;
  }

  .site-header .site-title {
    margin-top: 190px;
  }
  .site-title .logo {
    font-size: 150px;
  }
}

.site-title .logo span {
  display: block;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  text-transform: lowercase;
}

.site-title .date {
  display: block;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.button {
  height: 30px;
  padding: 10px 25px;
  line-height: 30px;
  text-align: center;
  display: block;
  color: #000;
  background: rgba(0,0,0,0.1);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 16px;
  text-decoration: none;
  width: 230px;
  margin: 60px auto 0 auto;

  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;

  -webkit-transition: opacity 250ms ease-in-out;
  -moz-transition: opacity 250ms ease-in-out;
  -ms-transition: opacity 250ms ease-in-out;
  -o-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}

.primary {
  background: #B0D0B8;
}

.secondary {
  background: #C58B94;
}

.disabled {
  background: #999;
  opacity: 0.5;
}

.button.small {
  height: 26px;
  padding: 5px 10px;
  line-height: 26px;
  margin: 15px 0 30px 0;
  display: inline-block;
  width: 90px;
  font-size: 12px;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .button:hover {
    opacity: 0.6;
  }
}

.button:active {
  opacity: 0.6;
}

.white-section {
  padding: 50px 0;
}

@media (min-width: 768px) {
  .white-section {
    padding: 90px 0;
  }
}

.map-section {
  height: 780px;
  background: #CCC no-repeat center center;
  background-size: cover;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.map-section #map {
  height: 780px;
  width: 100%;
}

.content-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
}

.bottom-left {
  padding: 40px 20px;
  background: #CCC3C3;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (min-width: 768px) {
  .bottom-left {
    width: 620px;
    padding: 60px 80px;
  }
}

@media (max-width: 768px) {
  .bottom-left p {
    font-size: 14px;
    margin: 0 0 10px 0;
  }
}

.bottom-left h3 {
  margin-bottom: 0;
}

.schedule {
  margin: 50px 0 0 0;
  padding: 0;
}

.schedule li {
  margin: 20px auto 0 auto;
  line-height: 1.5em;
  min-height: 40px;
  padding: 0;
  list-style: none;
  overflow: hidden;
  width: 300px;
}

@media (min-width: 768px) {
  .schedule li {
    width: 580px;
  }
}

.schedule li .time {
  display: block;
  float: left;
  margin-right: 10px;
  padding: 5px 10px;
  height: 20px;
  line-height: 20px;
  border-radius: 20px;
  background-color: #B0D0B8;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  width: 70px;
  text-align: center;
}

.schedule li .time.secondary {
  background-color: #C58B94;
}

.schedule li .time.tertiary {
  background-color: #C9C3CC;
}

.schedule li .note {
  font-size: 10px;
  color: #CCC;
}

.schedule li span {
  overflow: hidden;
  display: block;
  padding-top: 0px;
}

.tips-section {
  background: #CCC3C3;
  padding: 50px 0;
}

@media (min-width: 768px) {
  .tips-section {
    padding: 90px 0;
  }
}

.tips-section h3 {
  text-align: left;
  margin: 40px 0 10px 0;
}

.accomadation {
  margin: 50px 0 0 0;
  padding: 0;
}

.accomadation li {
  margin: 40px auto 10px auto;
  line-height: 1.5em;
  min-height: 40px;
  padding: 0;
  list-style: none;
  overflow: hidden;
  width: 300px;
}

@media (min-width: 768px) {
  .accomadation li {
    width: 580px;
    margin-top: 30px;
  }
}

.accomadation li i.icon {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  background: #EEE;
  text-align: center;
  line-height: 50px;
  margin: 0 20px 20px 0;

  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
}

.accomadation li .info {
  overflow: hidden;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .accomadation li i.icon {
    margin-bottom: 0;
  }

  .accomadation li .info {
    margin-top: 0;
  }

  .accomadation li .info-inner {
    float: left;
  }
}

.accomadation li h3,
.accomadation li p {
  text-align: left;
  margin: 0;
  line-height: 1em;
}

.accomadation li .stars {
  font-size: 10px;
  margin-top: -5px;
  margin-bottom: 5px;
}

.accomadation li .stars i.fa-star {
  color: #9D8284;
}

.accomadation li .stars i.fa-star-o {
  color: #9D8284;
  opacity: 0.6;
}

.accomadation li p {
  font-size: 12px;
}

.accomadation li .button {
  margin: 15px 0 0 0;
}

@media (min-width: 768px) {
  .accomadation li .button {
    float: right;
    margin: 0 0 0 10px;
  }
}

.social-section {
  height: 500px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.social-image {
  height: 500px;
  background: url('hashtag-bg.png') no-repeat center center;
  background-size: cover;
}

.bottom-right {
  padding: 50px 20px;
  background: #9AA79D;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (min-width: 768px) {
  .social-section {
    height: 680px;
  }
  .social-image {
    height: 680px;
  }
  .bottom-right {
    width: 620px;
    height: auto;
    padding: 60px 80px 60px 80px;
  }
}

.code {
  background: #eee;
  line-height: 50px;
  display: block;
  width: 200px;
  padding: 0 15px;
  margin: 0 auto;
  letter-spacing: 4px;
  font-size: 19px;
  text-align: center;
  font-family: 'Courier New', monospace;
  font-weight: bold;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

small {
  font-size: 11px;
}

.site-footer {
  height: 580px;
  background: url('footer-bg.png') no-repeat right center;
  background-size: cover;
  text-align: center;
  overflow: hidden;
}

.site-footer .site-title {
  margin-top: 180px;
}